.centerAlignClass{  
    align-content: center;
    margin-left: 15%;
}
.error {
    color: red;
}

.form-actions {
    text-align: center;
}

.TableAlignClass{
    margin-top: 5%;
    align-content: center;
}