<!--test code -->
<div id="bg"></div>

<div class="form-container">
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">

        <h3>Reactive form </h3>

        <div class="row">
            <div class="col-md-6">
                <label>First Name</label>
                <input type="text" formControlName="fname">

                <div class="alert" *ngIf="!rForm.controls['fname'].valid && rForm.controls['fname'].touched">First name must present
                </div>
            </div>
            <div class="col-md-6">
                <label>Last Name</label>
                <input type="text" formControlName="lname">
                <div class="alert" *ngIf="!rForm.controls['lname'].valid && rForm.controls['lname'].touched">Last name must present</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label> Branch</label>
                <input type="text" formControlName="branch">

                <div class="alert" *ngIf="!rForm.controls['branch'].valid && rForm.controls['branch'].touched">Branch name must present</div>
            </div>
            <div class="col-md-6">
                <label>Year of pass</label>
                <input type="text" formControlName="yop">
                <div class="alert" *ngIf="!rForm.controls['yop'].valid && rForm.controls['yop'].touched">Must be from 2015 to 2017 only</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Place</label>
                <input type="text" formControlName="place">

                <div class="alert" *ngIf="!rForm.controls['place'].valid && rForm.controls['place'].touched">Place must present</div>
            </div>
            <div class="col-md-6">
                <label>Mobile Number</label>
                <input type="text" formControlName="mobilenum">

                <div class="alert" *ngIf="!rForm.controls['mobilenum'].valid && rForm.controls['mobilenum'].touched">Mobile Number is 10 digit number</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <label>Registration Number</label>
                <input type="text" formControlName="regnum">

                <div class="alert" *ngIf="!rForm.controls['regnum'].valid && rForm.controls['regnum'].touched">Registration Number is 12 digit number</div>
            </div>
            <div class="col-md-6">
                <label>Date Of Birth</label>
                <input type="date" formControlName="dob">

                <div class="alert" *ngIf="!rForm.controls['dob'].valid && rForm.controls['dob'].touched">date of birth MM/DD/YYYY format</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <label>Email Id</label>
                <input type="text" formControlName="emailid">

                <div class="alert" *ngIf="!rForm.controls['emailid'].valid && rForm.controls['emailid'].touched">Valid Id Exaple raj123@xyz.com </div>
            </div>
            <div class="col-md-6">
                <label>Feedback</label>
                <input type="text" formControlName="description">

                <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">Feedback must be min 4 max 30 length</div>
            </div>
        </div>

        <input type="submit" class="button expanded " value="Submit Form" [disabled]="!rForm.valid">

    </form>
</div>

<div class="infotable">

    <head>
        <title>Information Table</title>
    </head>

    <body>
        <table class="table table-striped"  border="2" width="100%" bordercolor="#fff" bgcolor="white">
            <thead class="textformatforhead">
                <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Branch</th>
                    <th scope="col">YearofPass</th>
                    <th scope="col">Place</th>
                    <th scope="col">Mobile Num</th>
                    <th scope="col">Reg Num</th>
                    <th scope="col">DateofBirth</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">Feedback</th>
                   
                </tr>
            </thead>
            <tbody class="textformatforbody">
                <tr>
                    <td>{{fname}} </td>
                    <td>{{lname}}</td>
                    <td>{{branch}}</td>
                    <td>{{yop}}</td>
                    <td>{{place}}</td>
                    <td>{{mobilenum}}</td>
                    <td>{{regnum}}</td>
                    <td>{{dob|date:'dd-MM-yyyy'}}</td>
                    <td>{{emailid}}</td>
                    <td>{{description}}</td>
                   
                </tr>
            </tbody>
        </table>
    </body>
</div>