.form-container{
    display: block;
    widows: 90%;
    padding: 2em;
    margin: 2em auto;
    background: #fff;
                }
  
.alert{
  background: #f2edda;
  padding: 7px;
  font-size: .9em;
  margin-bottom: 20px;
  display: inline-block;
  animation: 2s alertAnim forwards;
         }
.button{ 
      margin-top: 3rem;
      }

@keyframes alertAnim{
       from {
           opacity: 0;
           transform: translateY(-20px);
            }
        to {
              opacity: 1;
              transform: translateY(0);
                   
            }
                       }

.infotable{
            display: block;
            widows: 90%;
            width: 850px;
            padding: 2em;
            margin: 2em auto;
            background: rgba(130,130,130,.3);
           font-size: .9em;
           padding: 20px 22px;
           border: 1px solid;
           border-top-color: rgba(255,255,255,.4);
           border-left-color: rgba(255,255,255,.4);
           border-bottom-color: rgba(60,60,60,.4);
           border-right-color: rgba(60,60,60,.4);
              
          }      