<!--test code -->
<div id="bg"></div>

<div class="container">

    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <div class="form container">
            <div class="row columns">

                <h3>Reactive form</h3>
                
                <label>First Name
                    <input type="text" formControlName="fname">
                </label>
                <div class="alert" *ngIf="!rForm.controls['fname'].valid && rForm.controls['fname'].touched">First name must present</div>
                <label>Last Name
                    <input type="text" formControlName="lname">
                </label>
                <div class="alert" *ngIf="!rForm.controls['lname'].valid && rForm.controls['lname'].touched">Last name must present</div>
                <label> Branch
                    <input type="text" formControlName="branch">
                </label>
                <div class="alert" *ngIf="!rForm.controls['branch'].valid && rForm.controls['branch'].touched">Branch name must present</div>

                <label>Year of pass
                    <input type="text" formControlName="yop">
                </label>
                <div class="alert" *ngIf="!rForm.controls['yop'].valid && rForm.controls['yop'].touched">A valid Year of pass must present ex 2016</div>

                <label>Place
                    <input type="text" formControlName="place">
                </label>
                <div class="alert" *ngIf="!rForm.controls['place'].valid && rForm.controls['place'].touched">Place must present</div>


                <label>Mobile Number
                    <input type="text" formControlName="mobilenum">
                </label>
                <div class="alert" *ngIf="!rForm.controls['mobilenum'].valid && rForm.controls['mobilenum'].touched">Mobile Number is 10 digit number</div>

                <label>Registration Number
                    <input type="text" formControlName="regnum">
                </label>
                <div class="alert" *ngIf="!rForm.controls['regnum'].valid && rForm.controls['regnum'].touched">Registration Number is 12 digit number</div>

                <label>Date Of Birth
                    <input type="date" formControlName="dob">
                </label>
                <div class="alert" *ngIf="!rForm.controls['dob'].valid && rForm.controls['dob'].touched">date of birth MM/DD/YYYY format</div>

                <label>Email Id
                    <input type="text" formControlName="emailid">
                </label>
                <div class="alert" *ngIf="!rForm.controls['emailid'].valid && rForm.controls['emailid'].touched">Valid Id Exaple raj123@xyz.com </div>

                <label>Description
                    <input type="text" formControlName="description">
                </label>
                <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">Description must be min 30 max 500</div>

                <input type="submit" class="button expanded " value="Submit Form" [disabled]="!rForm.valid">

            </div>
        </div>
    </form>
</div>

<div class="infotable">

    <head>
        <title>Information Table</title>
    </head>

    <body>
        <table border="2" width="100%" bordercolor="#fff" bgcolor="white">
            <thead>
                <tr>
                    <td colspan="4">Name: {{fname}} {{lname}}</td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">Description: {{description}}</td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Branch {{branch}}</td>
                    <td>Year of Pass{{yop}}</td>
                    <td>Place {{place}}</td>
                    <td>Registration Number {{regnum}}</td>
                    <td>Date of Birth {{dob|date:'dd-MM-yyyy'}}</td>
                    <td>Email Id {{emailid}}</td>
                    <td>Mobile Num {{mobilenum}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</div>