.page{
    border:2px solid #ccc;
    padding: 2em;
    background-color: rgb(225, 232, 238);
}

.table{
   
    margin: auto;
    width: 80%;
    color: rgb(41, 39, 39);
    background-color: rgb(224, 233, 235);    
}